html {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
  }
  
  h1 {
    color: grey;
  }
  
  p {
    text-align: justify;
    width: 70ch;
  }  